<% include partials/header %>


<div class="container">
  <h1 class="text-center mt-4">Login</h1>
  <span class="input-group">
    <form action="" class="mx-auto">
      <input class="form-control my-3" type="text" placeholder="username" required>
      <input class="form-control my-3" type="password" placeholder="password" required>
      <input class="form-control mt-3 btn btn-success" type="submit">
      <a class="text-dark" href="/signup">Not got an account?</a>
    </form>
  </span>
</div>


<% include partials/footer %> 